<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <h1><a href="/"><%= title %></a></h1>
        </header>
        <article>
        <p>iMerge is all about merging. iMerge is greatly inspired by the work called ZAP,
            Zapped Artificial Picture, by <a href="http://apfab.com/">apfab</a>. iMerge
            has several improvements, IMHO: no user interaction needed. iMerge contacts several
            API's all by itself. By visiting the site, you kick off quite a process, that's why
            it takes some time befor the first image is shown.</p>
        </article>
    </body>
</html>
