<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body style="background-image: url('/images/image1409949959894.png');">
        <header>
            <h1><%= title %><span></span></h1> <a href="/about">About</a>
        </header>
        <script>
        function getImage() {
            const span = document.querySelector('span');

            fetch('/image')
            .then(response => {
                if (response.status === 200) {
                    response.json().then(function(resp) {
                        document.body.style.backgroundImage = 'url(\'' + resp.image + '\')';
                        document.body.setAttribute('data-artist', resp.artist);
                        span.innerText = ' • ' + resp.artist;
                    });
                }

                setTimeout(getImage, 12000);
            }).catch(function(a,b,c) {
                console.log(b,c);
            });
        }
        getImage();
        </script>
        <% include ga.ejs %>
    </body>
</html>
