body {
  font: 14px Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  color: #00B7FF;
}

header {
    text-align: center;
}

h1, h2, h3 {
    display: inline-block;
}

img {
    display: block;
    margin: 0 auto;
}

article {
    width: 600px;
    margin: 0 auto;
}

p {
    text-indent: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}
